.wrapper {
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 256px 1fr;
    gap: 2rem;
    /* sempre alinhar no topo p não esticar os dois para ter o mesmo tamanho */
    align-items: flex-start; 
}